<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  {%- feed_meta -%}
  <link
    rel="alternate"
    type="application/rss+xml"
    title="The International Race of Hammpions — Broadcast RSS Feed"
    href="https://pinecast.com/feed/iroh">
  <link rel="icon" type="image/png" href="{{ '/_images/IROH_SocialLogo.png' | relative_url }}">
  <link rel="apple-touch-icon" href="{{ '/_images/IROH_SocialLogo.png' | relative_url }}">
  <meta name="theme-color" content="#002d4f">
</head>
